# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/

# Web related
lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# android
# kotlin
# ios
# lib
# test
# .metadata
# auth
# pubspec.lock
# pubspec.yaml
# .gitignore
# build/kotlin
# build/647fa92c23aa2689b9fc849e1b92e91e
# build/cache.dill.track.dill
# build/f872507f30e2ff2523f0f1d19160266e.cache.dill.track.dill